<section>
    <div class="hero">
        <div class="text-center mt-56">
            <div class="text-white text-6xl font-bold">
                <p>WELCOME TO</p>
                <p>EYE DOCTOR</p>
            </div>
            <div class="flex justify-center mt-4">
                <a href="/product"><button type="button" class="btn btn-primary mr-24 p-3">Browse Products</button></a>
                <a href="/photocapture"><button type="button" class="btn btn-primary p-3">Eye Diagnosis</button></a>
            </div>
        </div>
    </div>
    <div>
    </div>
</section>


